
/* add your customization here... */
@import "components/nav";
@import "components/google-maps";
@import "components/typography";
@import "components/headers";
@import "components/body";


// footer {
//   width: 100%;
//   height: 100%;
//   background: #fff;
//   padding: 1em 0;
//   p {
//     color: rgba(0,0,0,0.5);
//     a { color: #c69; }
//   }
//   .date { color: #036; }
//   ul.social_buttons {
//     li {
//       a.twitter { color: blue; }
//       a.fb { color: green; }
//       a.gplus { color: red; }
//     }
//   }
// }
