@use "components/nav" as *;
@use "components/google-maps" as *;
@use "components/typography" as *;
@use "components/headers" as *;
@use "components/body" as *;
@use "components/forms" as *;
@use "components/footer" as *;
@use "components/comments" as *;

$white: #fff;
$mint: #47c5ac;
$aqua: #27FDF5;
$pink: #F765B8;
$grey: #EDEDED;
$lighter-grey: #e4e4e4;
$light-grey: #999;
$medium-grey: #ccc;
$dark-grey: #666;
$almost-black: #efefef;
$black: #000;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Pacifico');
/* add your customization here... */

