

body {
  font-family: 'Dosis', sans-serif;
}

main {
  border: 0px solid green;
}
section {
  border: 0px solid red;
}

.grey {
  background-color: #EDEDED;
}

.card {
  background-color: #ccc;
  padding: 0px;
  border: none;
}
