

body {
  font-family: 'Dosis', sans-serif;
}

main {
  border: 0px solid green;
}
section {
  border: 0px solid red;
}

.grey {
  background-color: #EDEDED;
}

.card {
  background-color: #ccc;
  padding: 0px;
  border: none;
}

.box {
  border: none !important;
  box-shadow: none !important;
}

.grey-image {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.is-rounded {
  border-radius: 50px !important;
}
