.messages-title {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  background-color: #47c5ac;
  height: 50px;
  color: white;
  padding: 5px;
}

.user-title {
  border-bottom: 2px solid #e4e4e4;
  height: 35px;
  padding: 5px;
}
