.messages-title {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  background-color: $mint;
  height: 50px;
  color: $white;
  padding: 5px;
}

.user-title {
  border-bottom: 2px solid $lighter-grey;
  height: 35px;
  padding: 5px;
}
