footer {
  height: 50px;
  border-top: 1px solid #000;
  background: #000;
  padding: 5px;
  position: inherit;
  bottom:0;
  width: 100%;
}

footer p {
  margin-top: 10px;
  text-align: center;
  font-size: 10px;
}
