// .hp-input  {
//   background-color:rgba(255,255,255, 0.3) !important;
//   color: white !important;
//   border: none !important;
//   border-radius: 0px;
//   width: 400px !important;
// }

.homepage-form {
  border: 0px solid #ccc;
  margin: 0 auto;
  width: 400px;
  // background-color: #fff;
  padding: 20px;

    input {
      background-color:rgba(255,255,255, 0.0) !important;
      border: 0;
      outline: 0;
      box-shadow: none;
      border-bottom: 1px solid #ccc;
    }

    input::placeholder {
      font-family: 'Pacifico', cursive;
      color: #efefef;
    }

    input[type=text] {
      color: white !important;
    }
}

.search {
    margin-top: 20px;

    input {
      background-color: none;
      border: 0;
      outline: none;
      border-bottom: 1px solid #47c5ac;
      box-shadow: none;
    }
}

.registration-form {
  font-family: 'Pacifico', cursive;
  border: 1px solid #ccc;
  margin: 0 auto;
  width: 600px;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
  padding: 20px;
  border-radius: 5px;

  input {
    border: 0;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    background-color:rgba(255,255,255, 0.0) !important;
  }

  input::placeholder {
    font-family: 'Pacifico', cursive;
    color: #efefef;
    background-color: none;
  }

  input[type=text] {
    font-family: 'Pacifico', cursive;
    color: white !important;
  }

  label {
    color: white;
  }

  input.date {
    color: white;
  }
}

/* register login form */
.credentials-form {
  margin: 50px auto;
  width: 400px;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
  padding: 20px;
  border-radius: 5px;

  input {
    border: 0;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    background-color:rgba(255,255,255, 0.0) !important;
  }

  input::placeholder {
    font-family: 'Pacifico', cursive;
    color: #efefef;
    background-color: none;
  }

  input[type=text] {
    font-family: 'Pacifico', cursive;
    color: white !important;
  }

  label {
    color: white;
  }
}
