.google-map {
  height: 400px;
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}

#abi {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.gmnoprint {
  border-radius: 90px;
}

#markerLayer {
  border-radius: 90px;
}
