.hub {
  background-image: url(../../assets/images/LA.jpg);
  background-size: cover;
}

.no-padding {
  padding: 0;
}

#video {
   position: fixed;
   top: 0;
   right: 0;
   z-index: -1;
   min-width: 100%;
   min-height: 100%;
   transform: translate(0,0);
 }
