p {
  font-size: 16px;
  color: #999;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.opacity {
   background: rgba(0, 0, 0, 0.5);
   padding-left: 30px;
   padding-right: 30px;
}

.sub-title {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  // color: #47c5ac;
  color: #47c5ac;
}

.login-title {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  // color: #47c5ac;
  color: #666;
}

.header-title {
  font-family: 'Pacifico', cursive;
  font-size: 80px;
  padding-top: 60px;
  color:#47c5ac;
  text-shadow: 3px 3px 3px #fff,
             3px 3px 5px #27FDF5;
}

.hub-title {
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Pacifico', cursive;
  font-size: 70px;
  padding-top: 100px;
  top: 0;
  color: #47c5ac;
  // background: rgba(0,0,0,0.5);
  text-shadow: 3px 3px 3px #fff,
             3px 3px 5px #27FDF5;
}

.subtitle-title {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: white;

}

.cat-titles {
  font-family: 'Pacifico', cursive;
  margin-top: -20px;
  margin-bottom: 20px;
  color: #F765B8;
  font-size: 30px;
}

.gold {
  color: #47c5ac;
}

.pink {
  color: #F765B8;
}

.red {
  color: #DA345C;
}

.hp-title {
  font-size: 80px;
}

.profile-title {
  background-color: #47c5ac;
  height: 70px;
  color: white;
  padding: 5px;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  margin-bottom: 20px;
}

.normal-title {
  color: #47c5ac;
  padding: 5px;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  margin-bottom: 20px;
}

.profile-subtitle {
  font-size: 25px;
  // color: #47c5ac;
  color: #666;
}

.logo {
  color: #47c5ac !important;
  font-size: 30px !important;
}
